/* .container {
    margin-top: 6em;
} */
body {
    font-family: 'Roboto';
    font-size: larger;
}

.navigationbar {
    padding-bottom: .5rem;
    background-color: #272B30;
    border: none;
}

.nav-link {
    color: #66d9ef;
}

.postlistatthebottomofhomepage h5 {
    color: #66d9ef;
}

.post h1 {
    color: #66d9ef;
}

.container article.post .coverimage {
    /* for the cover image in the post*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}



.postlist

/* this one is used in home page bottom list of posts*/
    {
    padding-top: 1rem;
}

.postcontent {
    /* this one is used in default layout just after the post date entry*/
    padding-top: 1rem;
    padding-right: 2rem;
}

.postcontent img {
    /* all the images inside the main container*/
    padding: 1rem;
    height: 30rem;
    width: auto;
}

.postlistatthebottomofhomepage {
    padding-bottom: 1rem;
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: #00000012;
}

.social-buttons {
    align-content: center;
    position: fixed;
    top: 400px;
}

.social-buttons li {
    list-style-type: none;
    margin-top: 0.5rem;
    font-size: 2rem;
}